body {
	margin-top: 40px;
	font-family: sans-serif;
	background-color: #22313F;
	color: #ECECEC;
}

ul.navbar-nav {
	background-color: #34495E;
	width: 100%;
}
.navbar-nav>li>a {
	background-color: #34495E;
	color: #fff;
	padding: 10px 20px 10px 20px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 12px;
}

.navbar-nav>li>a:hover {
	text-decoration: none;
	background-color: #E87E04;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus,
.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color: #E87E04;
}

.map-infowindow {
	color: #000;
}

h1 {
	font-size: 50px;
	margin-bottom: 40px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

h1 span {
	color:#E87E04;
}

h1,h2,h3 {
	font-weight: 700;
}

h3.code {
	margin: 0;
	padding: 0;
	font-weight: 400;
	margin-top: 40px;
	margin-bottom: 10px;
}

nav ul, nav li {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav ul {
	text-align: center;
}

nav li {
	display: inline;
	position: relative;
}

nav a {
	display: inline-block;
	padding: 10px 20px 10px 20px;
	background-color: #34495E;
	text-transform: uppercase;
	font-size: 12px;
	color: #ECECEC;
	font-weight: 300;
	letter-spacing: 1px;
}

nav a:hover {
	color: #ECECEC;
	text-decoration: none;
	background-color: #E87E04;
}

.google-map {
	margin-top: 50px;
	height: 500px;
	border: 15px solid #2C3E50;
}

.google-map.fs {
	height: 800px;
	width: 1800px;
}

.google-map .infowindow {
	min-width: 100px;
	min-height: 70px;
	padding-right: 10px;
}

.row-route {
	margin-top: 20px;
}

.map-infowindow {
	width: 200px;
}

.map-infowindow h2 {
	font-size: 16px;
}

.map-infowindow p {
	font-size: 12px;
}

.btn {
	margin-top: 25px;
}

#simplegmaps-directions {
	margin-bottom: 50px;
}

.simplegmap-content {
	overflow: hidden;
	position: relative;
}

.map-custom-infowindow {
	position: absolute;
	display: block;
	bottom: 30px;
	left: 0;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	min-height: 120px;
	border: 1px solid #bcb8ac;
	background-color: #fff;
	color: #333;
	z-index: 10;
	padding: 10px;
	border-radius: 10px;
}

.map-custom-infowindow h2 {
	margin: 0;
	padding: 0;
}

.map-custom-infowindow .close {
	margin-top: -5px;
}

.map-custom-infowindow img {
	width: 200px;
	float: left;
	margin-right: 20px;
}

.adp-placemark {
 	background: #fff;
 	border: none;
	color: #000;
	cursor: pointer;
	margin: 10px 0;
	vertical-align: middle;
}

.adp-marker {
	margin-right: 15px;
}

.adp-directions {
	width: 100%;
}
