.google-map {
  height: 350px;
}

.logo {
  margin-top: 100px;
  margin-bottom: 20px;
}

p.lead {
  text-align: center;
}

.version {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.github {
  text-align: center;
  margin-bottom: 40px;
}

.github iframe {
  margin-left: 10px;
  margin-right: 10px;
}

.download {
  margin-bottom: 60px;
  margin-top: 40px;
  text-align: center;
}

.btn {
  padding-left: 20px;
  padding-right: 20px;
}

.codepanel {
  background-color: #efefef;
  padding: 20px;
  line-height: 30px;
  margin-bottom: 40px;
}

.bower {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  text-align: center;
  font-size: 18px;
}

.examples h2 {
  font-weight: 600;
}



ul.listbuttons {
  margin-top: 20px;
  margin-bottom: 20px;
	padding: 0;
	list-style: none;
}

ul.listbuttons li {
  margin-bottom: 10px;
}

ul.listbuttons a {
	background-color: transparent;
  border: solid 2px #E67D20;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	display: inline-block;
  border-radius: 3px;
  color: #E67D20;
}

ul.listbuttons a:hover {
	background-color: #E67D20;
  color: #fff;
  text-decoration: none;
}

a.btn-primary {
  background-color: transparent;
  border: solid 2px #E67D20;
  color: #E67D20;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}
.btn i {
  margin-right: 5px;
}
a.btn-primary:link,
a.btn-primary:visited {
  background-color: transparent;
  border: solid 2px #E67D20;
  color: #E67D20;
}
a.btn-primary:active {
  background-color: #E67D20;
  color: #fff;
}
a.btn-primary:hover {
  background-color: #E67D20;
  color: #fff;
}

.hljs {
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}

div.highlight {
	background-color: rgb(247, 247, 249);
	border-radius: 7px;
	margin-top: 20px;
	border: 1px solid #ddd;
}

h3.code {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 15px;
	padding-top: 15px;
}

code {
  font-family: monospace,serif;
  font-size: 15px;
}
pre > code {
    white-space: pre;
    display: block;
}
pre {
  word-break: normal;
  word-wrap: normal;
  margin-bottom: 0px;
}

.row.button {
  margin-top: 20px;
}

.row-route {
	margin-top: 20px;
}
.row-route button {
	margin-top: 24px;
}


